pre-commit
pytest
pytest-cov
sphinx
numpy
datasets
tensorflow==2.8.0
pydub
tensorflow-datasets
torch
torchvision
tensorflow-text==2.8.*
tf-models-official==2.7.0
nrclex
umap-learn
datashader
matplotlib
bokeh
holoviews
scikit-image
colorcet
alive-progress
seaborn
transformers
