alive-progress==2.4.1
bokeh==2.4.3
colorcet==3.0.0
datasets==2.4.0
datashader==0.14.2
hmmlearn==0.2.7
holoviews==1.15.0
librosa==0.9.2
matplotlib==3.5.3
moviepy==1.0.3
nrclex==3.0.0
numpy==1.23.2
pandas==1.4.4
pre-commit==2.20.0
pydub==0.25.1
pytest==7.1.3
pytest-cov==3.0.0
pytest-env==0.6.2
requests==2.28.1
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.11.2
sphinx==5.1.1
statsmodels==0.13.5
tensorflow==2.9.1
tensorflow-datasets==4.6.0
tensorflow-text==2.9.0
tensorflow_hub==0.12.0
tf-models-official==2.9.1
torch==1.12.1
torchaudio==0.12.1
torchtext==0.13.1
torchvision==0.13.1
transformers==4.21.2
tqdm==4.64.0
umap-learn==0.5.3
xgboost==1.6.2
git+https://github.com/jakobkruse1/hierreg.git
